profiles {
    charliecloud { includeConfig 'configs/charliecloud.config' }
    docker       { includeConfig 'configs/docker.config'       }
    singularity  { includeConfig 'configs/singularity.config'  }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    local        { executor.name = 'local'                     }
    hifi_hifiasm { includeConfig 'configs/hifi_hifiasm.config' }
    ont_flye     { includeConfig 'configs/ont_flye.config'     }
    hifi_flye    { includeConfig 'configs/hifi_flye.config'    }
    hifiasm_ul   { includeConfig 'configs/hifiasm_ul.config'   }
    ont_on_hifi  { includeConfig 'configs/ont_on_hifi.config'  }
}
