charliecloud.enabled = true

process {
    withName: ALIGN {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }
    withName: ALIGN_TO_BAM {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }
    withName: SAMTOOLS_SORT {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: SAMTOOLS_INDEX {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: SAMTOOLS_IDXSTATS {
        container = "quay.io/biocontainers/samtools:1.15.1--h1170115_0"
    }
    withName: FLYE {
        container = "quay.io/biocontainers/flye:2.9--py39h6935b12_1"
    }
    withName: QUAST {
        container = "quay.io/biocontainers/quast:5.2.0--py39pl5321h2add14b_1"
    }
    withName: PILON {
        container = "quay.io/biocontainers/pilon:1.24--hdfd78af_0"
    }
    withName: MEDAKA {
        container = "quay.io/biocontainers/medaka:1.8.0--py38hdaa7744_0"
    }
}